<div class="news">
  <h5 style="text-align: center; font-size: 150%; font-weight: 600; padding: 10px 0 10px 0">Updates</h5>
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">
          [09/2025]
          <a href="https://arxiv.org/abs/2506.22565" style="color: blue" target="_blank">Adjoint Schrödinger Bridge Sampler (ASBS)</a>
          accepted to NeurIPS (Oral 0.3%).
        </td>
      </tr>
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">
          [09/2025] Three papers,
          <a href="https://arxiv.org/abs/2506.22565" style="color: blue" target="_blank">ASBS</a>,
          <a href="https://arxiv.org/abs/2506.18165" style="color: blue" target="_blank">NAAS</a>,
          <a href="https://arxiv.org/abs/2508.10684" style="color: blue" target="_blank">MDNS</a>, accepted to NeurIPS.
        </td>
      </tr>
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">
          [05/2025] Two papers,
          <a href="https://arxiv.org/abs/2502.04583" style="color: blue" target="_blank">OTP</a>,
          <a href="https://arxiv.org/abs/2410.02671" style="color: blue" target="_blank">UOT-UPC</a>, accepted to ICML.
        </td>
      </tr>
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">
          [01/2025] Two papers,
          <a href="https://arxiv.org/abs/2410.03974" style="color: blue" target="_blank">U-NOTB</a>,
          <a href="https://arxiv.org/abs/2410.03783" target="_blank">DIOTM</a>, accepted to ICLR.
        </td>
      </tr>
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">[09/2024] I have joined FLAIR, Georgia Tech as a Postdoc.</td>
      </tr>
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">
          [05/2024]
          <a href="https://arxiv.org/abs/2402.05443" style="color: blue" target="_blank"
            >Scalable Wasserstein Gradient Flow for Generative Modeling through Unbalanced Optimal Transport</a
          >
          is accepted to ICML.
        </td>
      </tr>
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">
          [01/2024]
          <a href="https://arxiv.org/abs/2310.02611" style="color: blue" target="_blank"
            >Analyzing and Improving Optimal-Transport-based Adversarial Networks</a
          >
          is accepted to ICLR.
        </td>
      </tr>
      <tr>
        <td style="padding-top: 0rem; padding: 0 0 0 0">
          [09/2023]
          <a href="https://arxiv.org/abs/2305.14777" style="color: blue" target="_blank">Unbalanced Optimal Transport Model (UOTM)</a>
          is accepted to NeurIPS.
        </td>
      </tr>
    </table>
  </div>
</div>
